<div class="container">

    <div>
        <h2>USER IN JSON</h2>
        <div>{{user|json}}</div>
    </div>
    <div>
        <h2>ADDRESS IN JSON</h2>
        <div>{{user.address|json}}</div>
    </div>
    <div>
        <h2>INSURANCE IN JSON</h2>
        <div>{{insurance|json}}</div>
    </div>
   
  <table class="table table-bordered table-stripped bg-info m-5 p-5">
    <tr class="bg-dark text-light">
        <td>ID</td>
        <td>
            {{user.userId}}
        </td>
     </tr>   
    <tr class="bg-dark text-light">
            <td>USERNAME</td>
        <td>
           
            {{user.userName}}
        </td>
        </tr>
        <tr class="bg-dark text-light">
            <td>DATE OF BIRTH</td>
        <td>
            {{user.dob}}
        </td>
        </tr>
        <tr class="bg-dark text-light">
            <td>CITY</td>
        <td>
            {{user.address.city}}
        </td>
        </tr>
        <tr class="bg-dark text-light">
            <td>LOCATION</td>
        <td>
            {{user.address.location}}
        </td>
        </tr>
        <tr class="bg-dark text-light">
            <td>STATE</td>
        <td>
            {{user.address.state}}
        </td>
        </tr>

    

  </table>
    <table class="table table-bordered table-stripped bg-info m-5 p-5">
       <tr class="bg-danger">
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Year
        </th>
        <th>
            Start Date
        </th>
        <th>
            Maturity Date
        </th>
        <th>
            Premium Amount
        </th>
        <th>
            Premium Amount
        </th>
    </tr>
        <tr *ngFor="let ins of insurance">
            <td>{{ins.id}}</td>
            <td>{{ins.name |uppercase|slice:1:3}}</td>
            <td>{{ins.year}}</td>
            <td>{{ins.startDate | date:'fullDate'|uppercase}}</td>
            <td>{{ins.maturityDate |date}}</td>
            <td>{{ins.premiumAmt|currency:'Rs'}}</td>
            <td>{{ins.premiumAmt|currency:'₹'}}</td>
        </tr>
    </table>

    <form class="bg bg-danger p-5 m-5 w-10">
        <div>
        <label>Enter base</label>
        <input [(ngModel)]="base" [ngModelOptions]="{standalone:true}">
        </div>

        <div>
            <label>
                Enter Exponent
            </label>
            <input [(ngModel)]="exponent" [ngModelOptions]="{standalone:true}">
        </div>

        
    <p>Power of {{base}} with exponent {{exponent}} is {{base|power:exponent}}</p>
    </form>
</div>