<div class="container">

    <div>
        <h2>USER IN JSON</h2>
        <div>{{user|json}}</div>
    </div>
    <div>
        <h2>ADDRESS IN JSON</h2>
        <div>{{user.address|json}}</div>
    </div>
    <div>
        <h2>INSURANCE IN JSON</h2>
        <div>{{insurance|json}}</div>
    </div>
   
  <table class="table table-bordered table-stripped bg-info m-5 p-5">
    <tr class="bg-dark text-light">
        <td>ID</td>
        <td>
            {{user.userId}}
        </td>
     </tr>   
    <tr>
            <td>USERNAME</td>
        <td>
           
            {{user.userName}}
        </td>
        </tr>
        <tr>
            <td>DATE OF BIRTH</td>
        <td>
            {{user.dob}}
        </td>
        </tr>
        <tr>
            <td>CITY</td>
        <td>
            {{user.address.city}}
        </td>
        </tr>
        <tr>
            <td>LOCATION</td>
        <td>
            {{user.address.location}}
        </td>
        </tr>
        <tr>
            <td>STATE</td>
        <td>
            {{user.address.state}}
        </td>
        </tr>

    

  </table>
    <table class="table table-bordered table-stripped bg-info m-5 p-5">
       <tr class="bg-danger">
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Year
        </th>
        <th>
            Start Date
        </th>
        <th>
            Maturity Date
        </th>
        <th>
            Premium Amount
        </th>
        <th>
            Premium Amount
        </th>

    </tr>
        <tr *ngFor="let ins of insurance">
            <td>{{ins.id}}</td>
            <td>{{ins.name |uppercase}}</td>
            <td>{{ins.year}}</td>
            <td>{{ins.startDate | date:'fullDate'}}</td>
            <td>{{ins.maturityDate |date}}</td>
            <td>{{ins.premiumAmt|currency:'Rs'}}</td>
            <td>{{ins.premiumAmt|currency:'₹'}}</td>
        </tr>
       
    </table>
</div>